* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-sarif;
}

body {
  /* overflow: hidden; */
}

nav {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
}

nav .drop-btn {
  width: 400px;
  background: lightcoral;
  color: whitesmoke;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
}

nav .drop-btn span {
  float: right;
  line-height: 50px;
  font-size: 28px;
  cursor: pointer;
}

nav .wrapper {
  position: absolute;
  top: 65px;
  display: flex;
  width: 400px;
  background: lightcoral;
  border-radius: 5px;
}

nav .wrapper ul {
  list-style: none;
  width: 400px;
  padding: 10px;
}

nav .wrapper ul li {
  line-height: 55px;
}

nav .wrapper ul li a {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  align-items: center;
  border-radius: 8px;
}

nav .wrapper ul li:hover a {
  background: rgb(201, 108, 108);
}
